body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  color: #000;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.loading {
  background-color: #000000;
  height: 3px;
}

/* Nav bar */
.nav {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid rgba(0,0,0,.29);
  background-color: #FFD90F; /*Simpsons skin*/
  font-weight: bold;
  align-items: center;
}

.nav-item {
  padding: 10px;
}
.nav-item:hover {
  color: white;
}

.nav button {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.active {
  background-color: #000;
  color: white;
}

.inactive {
  color: #000 !important;
  background-color: #FFD90F !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username {
  color: #4F76DF; /*Homer pants*/
}

.navatar {
  align-items: center;
}

.navatar img {
  height: 30px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 50%;
  background-color: white;
  margin-left: 5px;
}

/* App container */
.App {
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info-title {
  font-weight: bold;
}

.btn {
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 3px;
  cursor: pointer;
  background: #fff;
  font-size: 12px;
  width: 100%;
  position: relative;
  font-weight: bold;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

/* Login */
.login {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login button {
  width: 200px;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 3px;
  cursor: pointer;
  background: #fff;
  font-size: 12px;
  font-weight: bold;
}

.login select {
  width: 200px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  background: #fff;
  font-size: 15px;
  margin-bottom: 10px;
}

.horizontal-separator {
  width: 2px;
  background-color: white;
  border: 10px solid #ddd;
  height: auto; 
}

/* Home  */

.home-container {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top:10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid rgba(0,0,0,.29);
  font-weight: bold;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,.29);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.question {
  background: #fff;
  flex-direction: column;
  border-radius: 3px;
  padding:10px;
}

.question-author {
  text-align: left;
  padding: 1%;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,.29);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #FFD90F;
}

.question-info {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0,0,0,.29);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #ddd;
}

.info {
  display: flex;
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
  flex-direction: column;
  width: 100%;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar img{
  height: 150px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 50%;
  margin: 10px;
  background-color: white;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

/* New Question*/
.newpoll-container {
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top:10px; 
  justify-content: center;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 3px;
  text-align: center;
}

.newpoll-title {
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid rgba(0,0,0,.29);
}

.newpoll-content {
  padding: 10px;
}

.newpoll-container p {
  font-weight: bold;
}

.newpoll-container button {
  width: 200px;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 3px;
  cursor: pointer;
  background: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-top:10px;
}

.newpoll-container input {
  width: 400px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 3px;
  background: #fff;
  font-size: 12px;
}

/* Poll */
.poll-container {
  max-width: 590px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top:10px;
  border-radius: 3px;
}

.pollform-container, .polldetails-container {
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
}

.poll-title {
  text-align: left;
  padding: 1%;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,.29);
  background-color: #FFD90F;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.poll-info {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: #ddd;
  border: 1px solid rgba(0,0,0,.29);
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.poll-info h1 {
  margin: 0;
}


/*Poll Form*/
.pollform-container label {
  margin-left: 10px;
}

.poll-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  align-items: stretch;
  text-align: left;
}

.poll-button, .poll-input {
  padding: 5px;
}

/* Poll Details */

.polldetails-info {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 5px;
  background-color: #ddd;
  border: 1px solid rgba(0,0,0,.29);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: none
}

.optionResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 3px;
  background-color: white;
  margin: 10px;
  font-weight: bold;
}

.mostVotedOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #FFD90F;
  border-radius: 3px;
  background-color: white;
  margin: 10px;
  font-weight: bold;
}

.progressbar-container {
  margin-left: 10px;
  margin-right: 10px;
}

.progressbar {
  background: white;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 20px;
  height: 40px;
  width: 100%;
}

.progressbar-filling {
  background: #FFD90F;;
  height: 100%;
  border-radius: inherit;
  text-align: right;
  display: flex;
  align-items: center;
}

.progressbar-percentage {
  width: 100%;
  padding: 5px;
  font-weight: bold;
}

/* Leaderboard */

.leaderboard-container {
  width: 100%;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top:10px;
  justify-content: center;
  text-align: center;
}

.h-separator {
  width: 2px;
  background-color: #ddd;
  border: 10px solid white;
  height: auto; 
}

.cardboard-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 3px; 
}

.trophy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trophy img{
  height: 16px;
  margin: 5px -5px -5px 5px;
}

.cardboard-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.cardboard-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 50%;
}

.cardboard-score {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 20%;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 3px; 
  width: 100%;
}

.score-title {
  background-color: #ddd;
  height: 50%;
  width: 100%;
  text-align: center;
  line-height: 80px;
}
.score-value {
  height: 50%;
  padding: 10px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #FFD90F;
  width: 50%;
  text-align: center;
}