body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

.loading {
  background-color: #000000;
  height: 3px;
}

/* Nav bar */
.nav {
  text-align: center;
  border-bottom: 2px solid rgba(0,0,0,.29);
  background-color: #FFD90F; /*Simpsons skin*/
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  margin: 0px;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #252525;
}

.nav button {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

/* App container */
.App {
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wyr {
  font-weight: bold
}

.btn {
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 12px;
  width: 100%;
  position: relative;
  border-radius: 3px;
  font-weight: bold;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login button {
  width: 200px;
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 12px;
  border-radius: 3px;
  font-weight: bold;
}

.login select {
  width: 200px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  background: #fff;
  font-size: 15px;
  margin-bottom: 10px;
}

/* Home  */

.home-container {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top:10px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  flex-direction: column;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.column {
  float: left;
  display: table-cell;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.question {
  border: 1px solid rgba(0,0,0,.29);
  background: #fff;
  flex-direction: column;
}

.question-author {
  text-align: left;
  padding: 1%;
  font-weight: bold;
  border-bottom: 1px solid rgba(0,0,0,.29);
  background-color: #FFD90F;
}

.question-info {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
  flex-direction: column;
  width: 100%;
}

.avatar {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.avatar img{
  height: 150px;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 50%;
  margin: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

.poll {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  margin-top:10px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}